
# Python
*.py                  @nimba-solutions/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @nimba-solutions/release-engineering-reviewers
/tasks/               @nimba-solutions/release-engineering-reviewers

# Heroku CI
/Gemfile.lock         @nimba-solutions/release-engineering-reviewers
/app.json             @nimba-solutions/release-engineering-reviewers
/requirements.txt     @nimba-solutions/release-engineering-reviewers
/runtime.txt          @nimba-solutions/release-engineering-reviewers
